
.panel-social-medias {
    padding: 10px 0;
    height: fit-content;
    background-color: #3E3230;
    text-align: right;
}

.panel-social-medias a {
    color: #D6C5BD;
    transition: all linear 0.35s;
    &:hover {
        color: white;
    }
}